/*
   Add additional application styles or override styles provided by the selected theme or widgets.
   You can include SASS syntax, as this file is built to a css file using a SASS processor.

   Available Variables:

   Variable Name      Description
   ----------------------------------------------------
   $resources         References the directory where resources reside (images, etc.), this directory may be different
                      between the design time and the runtime directory structure.

                      Example: background-image: url(#{$resources}/Uploaded/image.png)

   $font-path        References the relative directory where fonts are stored.
*/

$primary-color: #6ac141;
$top-dark-color: #3b4547;
$top-border-color: #c3c5c5;

.left-buttons {
    position: absolute;
    display: none !important;
    left: 11px;
    top: 5px;
}

.buttons.buttons-left.header-item>.primary-buttons {
    position: absolute;
    left: 11px;
    top: 5px;
}

.BSCMobileAssistantLabel {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: $top-border-color;
}

.BSCBottomPanel {
    background: linear-gradient(to bottom, white 0%, #dfe3e3 100%) !important;
    border-top: 1px solid $top-border-color !important;
    height: 44px;
    padding: 0;
}

.BSCTopPanel {
    width: 100% !important;
    background: linear-gradient(to bottom, white 0%, #dfe3e3 100%) !important;
    border-bottom: 1px solid $top-border-color !important;
    overflow: hidden !important;
}

.BSCTopCard {
    width: 100vw !important;
    background: linear-gradient(to bottom, white 0%, #dfe3e3 100%) !important;
    border-bottom: 1px solid $top-border-color !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    height: 44px !important;
    overflow: hidden !important;
}

.BSCTopDarkArea {
    background: $top-dark-color !important;
    width: 60vw !important;
    height: 44px !important;
    position: absolute;
    left: 40vw;
    top: 0px;
    border-radius: 0;
    box-shadow: none;
}

.BSCTopTriangle {
    background: transparent !important;
    width: 0px !important;
    height: 0px !important;
    min-height: 0px !important;
    border-style: solid;
    border-width: 0 0 44px 88px;
    border-color: transparent transparent  $top-dark-color transparent;
    position: absolute;
    left: calc(40vw - 88px);
    top: 0px;
    border-radius: 0;
    box-shadow: none;
}

.BSCColoredLabel {
    height: 44px !important;
    line-height: 44px !important;
    color: $primary-color !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
    display: inline-block !important;
    text-align: center;
}

[widget-id="label-4"] {
    width: 230px;
    position: absolute;
    height: 44px;
    left: 11px;
    top: 0px;
}

[widget-id="label-5"] {
    width: 230px;
    position: absolute;
    height: 44px;
    right: 11px;
    top: 0px;
}

.BSCMachineNameLabel {
    font-size: 18px;
    line-height: 44px;
    height: 44px;
    vertical-align: middle;
    position: absolute;
    left: 22px;
    top: 0px;
}

.BSCBottomButton {
    font-size: 28px !important;
    color: $primary-color;
    background: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    transition: opacity .2s ease;
}

.BSCBottomButton:active,
.BSCBottomButton.activated {
    font-size: 28px;
    background-color: transparent !important;
    opacity: 0.5;
}

.BSCLeftPanel {
    box-sizing: border-box;
    padding: 22px;
}

.BSCPropertyDisplayCard {
    border-radius: 7px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, .2);
    -webkit-backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, .75);
    width: calc(33vw - 44px) !important;
    height: 150px;
}

.BSCNoBackground {
    background: none !important;
}

.BSCSearch {
    margin: 4px !important;
    height: 36px !important;
    border-radius: 18px 18px 18px 18px !important;
    box-sizing: border-box !important;
    border: 1px solid rgba(0, 0, 0, .2) !important;
}

.BSCCardHeader {
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.BSCTitle {
    font-size: 18px;
}

.BSCFullScreenCard {
    width: 100%;
    height: 100%;
    position: absolute;
    background: red;
    left: 0px;
    top: 0px;
}

.BSCSlider {
  background: none;
  border: none;
}

.BSCSlider.range input {
  margin: 0;
}

.BSCSlider.range .icon {
  min-width: 0;
}

.BSCValueDisplay {
    width: 100% !important;
}